
# Ignore Google service account credentials and other secrets
*.json
!requirements*.json
.env
tigerhacks-2025-a9939a7a77ae.json

# Python
__pycache__/
*.py[cod]

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Other
.env
